footer-menu{
  @import "../variables";

  .footer-icon{
    display: block;
    margin: auto;
  }
  .footer-icon-middle{
    display: block;
    height: 16vw !important;
    margin: -7.2vw auto auto !important;
    border-radius: 100%;
    border: solid 1.6vw #eee;
    background-color: #eee;
  }

  .notif-count{
    background: #f86149;
    font-size: 10px;
    min-width: 20px;
    position: absolute;
    margin: 0px;
    left: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
  }
  .footer-icons{
    img{
      height: 7vw;
      margin-top: .6vw;
    }
  }

}
