
hvac-grid{
  @import "../../variables";
  .charge {
    position: absolute;
    top: -2vh;
    left: 4vw;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 0px !important;
    padding-top: 0px!important;
  }
  .battery-level{
    font-size: 3.6vmin;
    font-family: tw-regular;
    position: absolute;
    text-align: center;
    top: 36%;
    left: 33%;
    color:$inputfill!important;
  }
}

