
control{
  @import "../variables";
  .toggle-cover{
    position: absolute;
    width: 36px;
    height: 14px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    contain: strict;
    padding: 12px;
    float: right;
    margin-top: -0.5vh;
  }
  .toggle-md.toggle-checked .toggle-icon{
    background-color: #ec3208!important;
  }
  .toggle-icon{
    background-color: #c3d2bf !important;
  }
  .toggle-md.toggle-checked .toggle-inner{
    background-color: #e0e0e0;
  }
  .toggle-md {
    position: absolute;
    width: 36px;
    height: 14px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    contain: strict;
    padding: 12px;
    float: right;
    margin-top: -1vh;
  }
  .control-wraper {
    margin-top: 0;
    padding-top: 15px;
    overflow: hidden;
  }
  .control-icon {
    padding: 0px;
    img {
      height: 5vh;
      display: flex;
      margin: auto;
    }

  }

  .control-align {
    margin-top: .5vh;
    img {
      height: 4vh;
      display: flex;
      margin: auto;
    }
  }

  .control-font {
    font-size: 4vmin;

    color: $inputfill;
  }

  .control-font-temp {
    font-size: 4vmin;
    color: $inputfill;
  }

  .control-font-en {
    font-size: 4vmin;
    color: $inputfill;
  }

  .control-icon {

  }

  .control-align {

    position: relative;

  }

  .control-line {
    padding: 0;
    width: 100%;
    border: 0;
    height: 1px;
    background: #c4c4c4;
    margin: 0px .6vh;
  }

  .control-line-last {
    margin: 0px;
    padding: 0;
    width: 100%;
    position: relative;
    border: 0;
    height: 1px;
    background: #c4c4c4;
  }

  .control-action1 {
    margin-bottom: 5vh;
  }

  .control-action2 {

    margin-bottom: 5vh;

  }

  .control-action3 {

  }



  .farsi-float-right {
    float: right !important;
  }

  .farsi-float-left {
    float: left !important;
  }

  .farsi-font {

  }

  .farsi-direction {
    direction: rtl !important;
  }

  .farsi-relative {
    right: 0;
    left: auto;
  }

  .control-disc {
    position: relative !important;

  }
  .slider {
    position: absolute;
    content: "";
    height: 3vh;
    width: 5vh;
    border-radius: 5vh;
    left: 1.33vh;
    bottom: .33vh;
    background-color: #888;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .enabled {
    background-color: #f94b2e;

  }
  .disabled {
    background-color: #888;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  .enabled:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20);
    left: auto;
    right: 0pt;
  }
  .slider.round {
    border-radius: 5vh;
  }
  .siren-wraper {
    margin-top: 2vh;
    position: relative;
    top: 2vh;
    overflow: hidden;
    margin-bottom: 8vh;
    width: 100vw;
  }
  .submit {
    button {

      width: 20vw;
      margin-top: 5px;
      margin-left: 20%;
    }
  }

  .last-update {
    position: relative;
    margin-top:3vh;

    p {

      font-size: 11px;
      color: #f9961e!important;
      padding: 10px;
      border: 1px solid $inputfill;
      text-align: center;

    }

  }

  .cam-collection {
    p {

      text-align: center;
      margin: 5px 30px 0 30px;
      color: #f9961e!important;
      border: 1px solid $inputfill;
      box-sizing: border-box;
      padding: 5px 0 5px 0;
    }
  }

  .selected-Item {
    color: #fff;
    background-color: $inputfill;
  }

  .config-fav {

    p {
      margin: 0;
    }
    img {
      margin: 0;
    }
  }

  .config-list {
    width: 97%;
  }

  .config-first-child {


  }

  .config-last-child {

  }

  .config-list-content {
    box-shadow: 0 1px 3px #b7b7b7;

    label {

      color: $inputfill;
      float: right;
      direction: rtl;
      width: 100%;
    }
    span {
      color: #f9961e!important;
      float: right;
      direction: rtl;

    }
    .detail-address {
      position: relative;
    }
  }
  .control-rows{
    padding-top: .6vh;
    padding-bottom: .6vh;
    margin-top: .8vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 1vh;
    box-shadow: 0 1px 3px #b7b7b7;
    background-color: #ffffff;

  }
  .control-rows-text-container{
    padding-right: 0px;
    margin-top: .8vh;
  }

}
