<div>
    <tabset>
        <tab [title]="'home.appliance-grid.summary' | translate">
            <div class="tab-container">
                <div class="scrollable-container">
                    <div class="row home-data-box "*ngFor="let floorLight of dataPassService.lightingModel.lightingByFloor">
                        <p *ngIf="dataPassService.currentLang=='fa'" class="border-bottom-title">
                            {{floorLight?.lightingList[0]?.location[3]?.faName}}/{{floorLight?.lightingList[0]?.location[4]?.faName}}
                        </p>
                        <p *ngIf="dataPassService.currentLang=='en'" class="border-bottom-title">
                            {{floorLight?.lightingList[0]?.location[3]?.enName}}/{{floorLight?.lightingList[0]?.location[4]?.enName}}
                        </p>
                        <div class="col-xs-6">
                            <p class="en-text-or-number" style="text-align: center;font-size: 6vmin" >{{floorLight?.lightingStatusCount?.offCount}}</p>
                            <img style="height: 14vh" *ngIf="!appService.darkTheme" src="./assets/images/home/slider/lighting/off-light-light.png">
                            <img  style="height: 14vh" *ngIf="appService.darkTheme" src="./assets/images/home/slider/lighting/off-light-dark.png">
                        </div>
                        <div class="col-xs-6 table-2-col-right">
                            <p class="en-text-or-number" style="text-align: center;font-size: 6vmin" >{{floorLight?.lightingStatusCount?.onCount}}</p>
                            <img  style="height: 14vh" *ngIf="!appService.darkTheme" src="./assets/images/home/slider/lighting/on-light-light.png">
                            <img  style="height: 14vh" *ngIf="appService.darkTheme" src="./assets/images/home/slider/lighting/on-light-dark.png">
                        </div>
                    </div>
                </div>
            </div>


        </tab>
        <tab [title]="'home.appliance-grid.details' | translate">
            <div class="tab-container">
                <div class="scrollable-container">
                    <div class="row home-data-box"
                         *ngFor="let floorLight of dataPassService.lightingModel.lightingByFloor" >
                        <p class="border-bottom-title " *ngIf="dataPassService.currentLang=='fa'">
                            {{floorLight?.lightingList[0]?.location[3]?.faName}}/{{floorLight?.lightingList[0]?.location[4]?.faName}}
                        </p>
                        <p class="border-bottom-title " *ngIf="dataPassService.currentLang=='en'">
                            {{floorLight?.lightingList[0]?.location[3]?.enName}}/{{floorLight?.lightingList[0]?.location[4]?.enName}}
                        </p>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 "   *ngFor="let lighting of floorLight?.lightingList">
                            <div  >
                                <img style="height: 10vh"  *ngIf="lighting.deviceworkingstate!='1' && !appService.darkTheme"  src="./assets/images/home/slider/lighting/off-light-light.png"  >
                                <img style="height: 10vh" *ngIf="lighting.deviceworkingstate!='1'&& appService.darkTheme"  src="./assets/images/home/slider/lighting/off-light-dark.png">
                                <img style="height: 10vh" *ngIf="lighting.deviceworkingstate=='1' && !appService.darkTheme"  src="./assets/images/home/slider/lighting/on-light-light.png"  >
                                <img style="height: 10vh" *ngIf="lighting.deviceworkingstate=='1'&& appService.darkTheme"  src="./assets/images/home/slider/lighting/on-light-dark.png">
                                <p class="en-text-or-number" style="margin-top: 2vh" >{{lighting?.devicename}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </tab>
    </tabset>
</div>
